tests
../../.github
.gitignore
.hack
.ruff_cache
docs
examples
.coveragerc
.pre-commit-config.yaml
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE
mkdocs.yml
README.md
USERS.md
.idea
.git
.DS_Store
.codecov.yml
.pytest_cache
**/__pycache__/
**/*.py[cod]
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
.env
venv/
